<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TermSearcher</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn-icons-png.flaticon.com/512/889/889096.png"
    />
  </head>

  <body class="bg-light">
    <script>
      function origin() {
        window.moveTo(-2600, 0);
      }
      origin();
      resizeTo(800, 1000);
      window.parent;
      window.top;
    </script>

    <div class="container pt-3 pb-3" style="width: 800px; margin 0 auto;">
      {% if worker.status %}
      <h1 class="text-info text-center">
        <span class="lead fs-5 text-secondary">the meaning of </span>
        {{worker.term}}
      </h1>

      <div
        class="alert alert-light fs-6 border shadow"
        role="alert"
        style="max-width: 600px; margin: 0 auto"
      >
        <h2 class="fs-4">Nepali Meanings:</h2>
        <img src="" alt="" />

        {% for meaning in worker.hindi %} {{meaning}}, {% endfor %}
      </div>

      {% comment %} {% if worker.english %}

      <div
        class="alert alert-light fs-5 border shadow"
        role="alert"
        style="max-width: 600px; margin: 0 auto"
      >
        <h2>English Definations:</h2>
        {% for meaning in worker.english %}
        <p>{{meaning|slice:100}}</p>
        {% endfor %}
      </div>
      {% endif %} {% endcomment %} {% if worker.gdef %}

      <div
        class="alert alert-light fs-5 border shadow"
        role="alert"
        style="max-width: 600px; margin: 0 auto"
      >
        <h2 class="fs-4">English Definations:</h2>
        {% for meaning in worker.gdef %}
        <p class="fs-6">{{meaning}}</p>
        {% endfor %}
      </div>
      {% endif %} {% if worker.gimg %}

      <div
        class="alert alert-light fs-5 border shadow"
        role="alert"
        style="max-width: 600px; margin: 0 auto"
      >
        <h2 class="fs-4">Images</h2>
        {% for meaning in worker.gimg %}
        <img src="{{meaning}}" alt="" />

        {% endfor %}
      </div>
      {% endif %} {% endif %} {% if not worker.status %}
      <div
        class="alert alert-light fs-5 border shadow"
        role="alert"
        style="max-width: 600px; margin: 0 auto"
      >
        <p class="text-danger">Sorry!</p>
        <p class="text-danger">There is no internet connection!</p>
      </div>
      {% endif %} {% comment %} {% if worker.meaning2 %}

      <div
        class="alert alert-light fs-5 border shadow"
        role="alert"
        style="max-width: 600px; margin: 0 auto"
      >
        {{worker.meaning2|slice:200|linebreaks}}
      </div>
      {% endif %} {% endcomment %}
    </div>

    <script>
      function myrefresh() {
        window.location.reload();
      }
      setTimeout("myrefresh()", 500); // Specify one refresh per second
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
